.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 2px #d41d5a69;
  transition: 0.3s;
  animation: fadeIn 1s;
  background-color: var(--grey-shade);
}
.food-item-img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.food-item-info {
  padding: 20px;
}
.food-item-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-rating p {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.food-item-rating img {
  width: 70px;
}
.food-item-desc {
  color: var(--secondary-color);
  font-size: 12px;
}
.food-item-price {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}
.food-item-img-container {
  position: relative;
}
.food-item-img-container .add {
  width: 35px;
  position: absolute;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
}
.food-item-counter {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: #ffff;
}
.food-item-counter img{
    width: 25px;
}
