@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #a50036;
  --secondary-color: #4d0218;
  --btn-hover: #ec003f;
  --grey-shade: #ffe4e6;
  --dark-grey-shade: #ff637e;
  /* --light-grey-shade: #ede9fe; */
  --black-shade: #262626;
  --grey: #737373;
  --card-border-radius: 2rem;
  --btn-border-radius: 50px;
  --font-family: "Outfit", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  min-height: 100hv;
  font-family: "Outfit", sans-serif;
  background-color: #fff1f2;
}
a {
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: var(--secondary-color);
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}