.sidebar {
  width: 18%;
  min-height: 100vh;
  border: 1.5px solid var(--secondary-color);
  border-top: 0;
  font-size: max(1vw, 10px);
}
.sidebar-options {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid var(--secondary-color);
  border-right: 0;
  padding: 8px 10px;
  border-radius: 3px 0px 0px 3px;
  cursor: pointer;
}
  .sidebar p{
    color: var(--primary-color);
  }
.sidebar-options .active{
  background-color: #ff637d36;

}
@media (max-width:900px) {
  .sidebar p{
    display: none;
  }
}
