.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  color: var(--primary-color);
  background-color: var;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  background-color: var(--grey-shade);
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
.login-popup-title img {
  width: 16px;
  cursor: pointer;
}
.login-popup-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-input input {
  outline: none;
  border: 1px solid var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
  background-color: transparent;
  color: var(--secondary-color);
}
.login-popup-input input::placeholder {
  color: #4d021974;
}
.login-popup-container button {
  padding: 10px;
  outline: none;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--grey-shade);
  cursor: pointer;
  font-size: 15px;
}
.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}
.login-popup-condition input {
  margin-top: 5px;
}
.login-popup p span {
  color: var(--secondary-color);
  font-weight: 500;
  cursor: pointer;
}
