.header {
  height: 34vw;
  margin: 30px auto;
  background: linear-gradient(
      135deg,
      #ffccd3cd 10%,
      #a50037c6 50%,
      #4d021972 100%
    ),
    url("../../assets/header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}
.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  color: var(--grey-shade);
  animation: fadeIn 3s;
}

.header h2 {
  font-weight: 500;
  font-size: max(4.5vw, 22px);
}
.header-content p {
  font-size: 1vw;
}
.header-content button {
  border: none;
  color: var(--secondary-color);
  background-color: var(--grey-shade);
  font-size: max(1vw, 13px);
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
